* {
    border: 0;
    margin: 0;
}

.text-color-red {
    color: #E82E46;
}

.text-color-blue {
    color: #222431;
}

.main-container {
    height: 90vh;
    width: 100%;
    background-color: #222431;
}

.vm-container {
    height: 40vh;
    width: 100%;
    background-color: #E82E46;
}

.mashers-container {
    height: 90vh;
    width: 100%;
    background-color: #DFDDE0;
}